.auth{
   display: flex;
   justify-content: center;
}
Link {
   text-decoration: none;
}

.wrap, .container {
   position: absolute;
   top: 20%;
   margin: auto; 
   padding: 5px 0 20px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 350px;
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 0 0 10px 5px rgb(71, 71, 71);
}

.button {
   margin-top: 20px;
   cursor: pointer;
   width: 152px;
   height: 35px;
   background: #145374;
   border: 2px solid #145374;
   border-radius: 10px;
   font-size: 14px;
   color: #ffffff;
}
.button:hover {
   background: #00334E;
}

.cross {
   display: flex;
   height: 32px;
   font-size: 30px;
   width: 340px;
   justify-content: flex-end;
}
.imgWrap{
   cursor: pointer;
}
