@font-face {
  src: url('./fonts/OpenSans-VariableFont_wdth,wght.ttf');
  font-family: OpenSans;
}

body {
  min-width: 1393px;
  background-color: #FAFCFF;
  margin: 0;
  padding-bottom: 40px;
  font-family: OpenSans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: OpenSans, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0 auto;
  max-width: 1440px;
}